@{
    @model Admin;
    @using Google.Cloud.Firestore;
    @using FirebaseConnector.Controllers;
    ViewData["Title"] = "Admin-"+ViewData.Model.name;
    List<Dictionary<string, object>> pats = new List<Dictionary<string, object>>();
    FireBaseController fb = new FireBaseController();
    List<Dictionary<string,object>> patients = await fb.getQuery("patients",new List<string>(){"id","patient"});
    List<Dictionary<string, object>> doctors= await fb.getQuery("doctors", new List<string>() { "id", "name" });
    
}

<div class="text-center">
    <h1 class="display-4">
        @ViewData.Model.name.ToString()
    </h1>
    
    <h3>Manage Doctors</h3>
    <form asp-controller="Admin" asp-action="fireDoctor">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>

        <div class="form-group">
            <label asp-for="doctor" class="control-label"></label>
            <select asp-for="patient">
                @foreach (Dictionary<string, object> doc in doctors)
                {
                    <option value=@doc["name"]>@doc["name"]</option>
                }
            </select>
            <span asp-validation-for="doctor" class="text-danger"></span>
        </div>

        <div class="form-group">
            <input type="submit" value="Remove Doctor" class="btn btn-primary" />
        </div>
    </form>
    <br /><br /><br />
    <h3>Bill Patients for Services</h3>
    <form asp-controller="Admin" asp-action="billPatient">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>

        <div class="form-group">
            <label asp-for="patient" class="control-label"></label>
            <select asp-for="patient">
                @foreach (Dictionary<string, object> pat in patients)
                {
                    <option value=@pat["patient"]>@pat["patient"]</option>
                }
            </select>
            <span asp-validation-for="patient" class="text-danger"></span>
        </div>
         <div class="form-group">
            <label asp-for="bill" class="control-label"></label>
            <input asp-for="bill" class="form-control" type="text" />
            <span asp-validation-for="bill" class="text-danger"></span>
        </div>
        <div class="form-group">
            <input type="submit" value="Bill Patient" class="btn btn-primary" />
        </div>
    </form>
    <h3>Order Equipment and Supplies</h3>
    <form asp-controller="Admin" asp-action="order">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>

        <div class="form-group">
            <label asp-for="supp" class="control-label"></label>
            <input asp-for="supp" class="form-control" type="text" />
            <span asp-validation-for="supp" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="quantity" class="control-label"></label>
            <input asp-for="quantity" class="form-control" type="text" />
            <span asp-validation-for="quantity" class="text-danger"></span>
        </div>
        <div class="form-group">
            <input type="submit" value="Order Supplies" class="btn btn-primary" />
        </div>
    </form>

</div>
<style>
    form{
      background-color:coral;
    
    }
</style>
