@{
    @using FirebaseConnector.Controllers;
    @using Google.Cloud.Firestore;
    @using FirebaseConnector.Models;
    @model Doctor
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
    @using WebApplication1.Controllers;
    Doctor doc = ViewData.Model;
    if(doc!=null){
        ViewData["Title"] = "Doctor-" + doc.name.ToString();
    }
    List<Dictionary<string, object>> pats = new List<Dictionary<string, object>>();
    FireBaseController fb = new FireBaseController();
    QuerySnapshot qs = await fb.Query("doctorinchargeofpatient", new Dictionary<string, object> { { "doctor_id", ViewData.Model.id } });
    foreach (var dos in qs.Documents) {
        Console.WriteLine(dos.Id.ToString());
        Dictionary<string, object> info = dos.ToDictionary();
        pats.Add(info);

    }
    DoctorController dc = new DoctorController();
    string schedule = await dc.ViewSchedule(doc);

}

<div class="text-center">
    <h1>
        @ViewData.Model.name.ToString()
        </h1>
    <h3>Order Prescriptions for Patients</h3>
    <form asp-controller="Doctor" asp-action="orderPrescription">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>

       <div class="form-group">
        <select class="form-select" asp-for="patientName">
            @foreach (Dictionary<string, object> pa in pats)
            {
                <option value=@pa["patient"]>@pa["patient"]</option>
            }
        </select>
        </div>
        <div class="form-group">
            <label asp-for="prescriptionName" class="control-label"></label>
            <input class="form-text" name="prescriptionName" asp-for="prescriptionName" class="form-control" type="text" />
            <span asp-validation-for="prescriptionName" class="text-danger"></span>
        </div>
        <div class="form-group">
            <input asp-for="id" class="form-control" value=@doc.id type="hidden" />
            <input asp-for="name" class="form-control" value=@doc.name.ToString() type="hidden" />
            <span asp-validation-for="name" class="text-danger" ></span>
        </div>
       
        <div class="form-group">
            <input type="submit" value="Order Prescriptons" class="btn btn-primary" />
        </div>
    </form>
    <br /><br /><br />
    <h3>Lookup Patient</h3>
    <form asp-controller="Doctor" asp-action="patientInfo">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>

        <div class="form-group">
        <select class="form-select" asp-for="patientName">
            @foreach (Dictionary<string, object> pa in pats)
            {
                <option value=@pa["patient"]>@pa["patient"]</option>
            }
        </select>
        </div>
        <div class="form-group">
            <input asp-for="id" class="form-control" value=@doc.id type="hidden" />
            <input asp-for="name" class="form-control" value=@doc.name.ToString() type="hidden" />
            <span asp-validation-for="name" class="text-danger"></span>
        </div>

        <div class="form-group">
            <input type="submit" value="View Patient" class="btn btn-primary" />
        </div>
    </form>
    <div class="table-bordered">
    <h3>Upcoming Appointments</h3>
    
        @Html.Raw(schedule)
    </div>

</div>
<style>
    form {
         background-color: cyan;
    }
    table{
        background-color:grey;
    }
    h3{
       background-color:lightblue;
    }
    h4{
       background-color:lightgrey;
    }
</style>