@{
    ViewData["Title"] = "Home Page";
}
<form class="btn-lg" asp-controller="Login" asp-action="Index">
      <input type="submit" value="Login"/>
</form>
<form class="btn-lg" asp-controller="Signup" asp-action="Index">
    <input type="submit" value="Patient Signup" />
</form>
<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    
</div>
<style>
    .login{
    position:absolute;
    top:5px;
    right:5px;
    font-size:larger;
    
    }

</style>